<div data-controller="clear">
  <turbo-frame id="section_1">
    <section class="section" id="form">
      <div class="card">
        <%= render 'form' %>
      </div>
    </section>
  </turbo-frame>
  <turbo-frame id="result">
  </turbo-frame>
</div>
<footer class="footer">
  <div class="panel">
    <p class="panel-heading">Displays the execution results of a .pac file used by a terminal on the given IP for a list of URLs. </p>
    <a class="panel-block"><strong>Script</strong>: url of a .pac file (http://...../xxx.pac) or the content of a
      .pac file. With a content, you can edit the script and test your changes.</a>
    <a class="panel-block"><strong>IP</strong>: IP of the terminal.</a>
    <a class="panel-block"><strong>URL(s)</strong>: List of URLs to check. One by line.</a>
    <a class="panel-block is-size-7"><strong>*</strong>: mandatory field.</a>
  </div>
</footer>
