<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="callout <%= name.to_s == 'notice' ? 'success' : 'alert' %>" data-closable>
          <button class="close-button" aria-label="Close alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <%= content_tag :div, msg %>
        </div>
    <% end %>
<% end %>
