<div class="top-bar-left">
  <ul class="menu">
    <li class="hide-for-small-only"><%= link_to image_tag(top_logo), root_path %></li>
    <li class="menu-text">Proxy Check<%= top_suffix %></li>
  </ul>
</div>

<div class="top-bar-right">
  <ul class="dropdown menu" data-dropdown-menu>
    <li class="menu"><a href="#">Help</a>
      <ul class="menu vertical">
        <li class="menu-text">
          <small><%= "Version: #{AppVersion}-#{Rails.env}" %></small>
        </li>
      </ul>
    </li>
  </ul>
</div>
