<div class="top-bar-right">
  <ul class="dropdown menu" data-dropdown-menu>

    <li class="menu"><a href="#">Help</a>
      <ul class="menu vertical">
        <li class="menu"><a href="#">
          <small><%= "Version #{AppVersion}-#{Rails.env}" %></small>
        </a></li>
      </ul>
    </li>
  </ul>
</div>
