<div data-controller="clear">
  <turbo-frame id="section_1">
    <section class="section" id="form">
      <div class="card">
        <%= render 'form' %>
      </div>
    </section>
  </turbo-frame>
</div>
