<turbo-frame id="section_1" data-controller="navigate">
  <section class="section" id="form">
    <div class="card">
      <%= render 'form' %>
    </div>
  </section>
</turbo-frame>
<footer class="footer">
  <div class="content is-size-7">
    <p><strong>*</strong> mandatory field</p>
  </div>
</footer>
