<turbo-frame id="section_1" data-controller="clear">
  <section class="section" id="form">
    <div class="card">
      <%= render 'form' %>
    </div>
  </section>
</turbo-frame>
<footer class="footer">
  <div class="panel">
    <p class="panel-heading">Return a optimized version of the given .pac file. It can replace the original one
      without loosing functionality, but with a smaller size.</p>
    <a class="panel-block"><strong>Script</strong>: url of your .pac file (http://...../xxx.pac) or the content of a
      .pac file.</a>
    <a class="panel-block is-size-7"><strong>*</strong>: mandatory field.</a>
  </div>
</footer>
