// project specifics

.no-margin {
  margin: 0 0 0 !important;
}

@import 'settings';
@import 'foundation';

// to avoid double menu during page load
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
