// set our variables
$hutch: #142559;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $text: $hutch,
  $text-strong: $hutch,
  $primary: $hutch,
  $link: $hutch,
);

// import project specifics
@use "app";
